@model Student
<h1 class="alert alert-info col-10"> StudentNumber : @Model.Id<br /> 
    Student Name: @Model.Name<br />
    Student Age: @Model.Age<br /> 
    Student Email: @Model.Email<br /> 
    Student Department: @Model.Department?.Name 
</h1>

<div class="col-2 alert alert-info">
    <img src="/Images/11.png" class="img-fludepartmentId"/>
</div>
@* <img src="D:\MVCWithEntity\MVCWithEntity\wwwroot\Images\11.png" /> *@

